

.btn {
    padding: 10px;
    margin-right: 85px;
    width: 10%;
    background: transparent;
    color: #ffffff;
}

#error,
#erroruser,
#errorpwd,
#errorpwdchar {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.requirements {
    margin-left: 75px;
    color: rgb(96, 96, 96);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
}

.mcontainer {
    display: grid;
    justify-content: center;
    align-items: center;
}
