input:focus {
    outline-color: blueviolet;
}

body {
    background-color: black;
}

form {
    margin: 50px 0 0 75px;
    padding: auto;
}

.form-control {
    padding: 10px;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    width: 24%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    padding: 10px;
    margin-right: 85px;
    width: 10%;
    background: transparent;
    color: #ffffff;
}

#error,
#erroruser,
#errorpwd,
#errorpwdchar {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.mcontainer {
    display: grid;
    justify-content: center;
    align-items: center;
}
